body {
    background-color: #ffffff !important;
}

.fc .fc-button-primary {
    /*background-color:#387BA3 !important;*/
    color: #ffffff !important;
}


.fc-daygrid-day-number {
    color: black !important;
}

.fc-col-header-cell-cushion  {
    color: #8f8f8f !important;
}

.fc-day-sat .fc-daygrid-day-number { color:blue !important; }
.fc-day-sun .fc-daygrid-day-number { color:red !important;  }

.fc-day-today {
    background-color: #F3F8FB !important;
}

.btn .btn-sm .btn-dark {
    background-color: #332d2d !important;
    color: #fff;
    box-shadow: 0 4px 9px -4px #332d2d;
}

.btn-dark {
    background-color: #332d2d;
    color: #fff;
    box-shadow: 0 4px 9px -4px #332d2d;
}

.ps-sidebar-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    background-color: #EEF8FB !important;
}


.fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button, .fc-prev-button, .fc-next-button, .fc-today-button,
.fc-prevYear-button, .fc-nextYear-button{
    font-size: 20px !important;
    padding: 5px 15px !important;
    background-color: #F3F8FB !important;
    color: #0E406C !important;
}

.fc-toolbar-title {
    font-weight: bold !important;
}

/*.fc-today-button {*/
/*    width: 30px;*/
/*}*/

.fc-h-event .fc-event-main {
    color: #fff;
    color: var(--fc-event-text-color, #fff);
    background-color: #78AEDF;
}


/*.calendar-main {*/
/*    flex-grow: 1;*/
/*    padding: 3em;*/
/*}*/
